.products {
  padding-top: 100px;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
}
.section {
    padding-left: 80px;
    display: flex;
}
.box {
  display: grid;
    margin-top: 45px;
    margin-left: 100px;
  width: 400px;
  height: 290px;
}
.box2 {
  margin-top: 190px;
  margin-left: 100px;
  width: 400px;
  height: 290px;
}
.cutlets_img {
  width: 400px;
  height: 290px;
}

.cutlets {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.description {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.cost {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #efa82c;
}

.cart {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 8px 24px;
  width: 400px;
  height: 44px;
  background: #ed4125;
}
.add {
  padding-left: 5px;
}
.cart2 {
  margin-bottom: 405px;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  border: none;
  outline: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;
  width: 400px;
  height: 44px;
  background: #ed4125;
} 

.column {
  margin-top: 50px;
  margin-left: 45px;
  float: left;
  width: 30%;
  padding: 0 10px;
}


.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  margin-bottom: 45px;
  padding: 16px;
  text-align: center;
  background-color: #ffffff
}
.cart_img {
  margin-right: 20px;
  
}

@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 600px) {
  .cutlets_img {
    width: 281.13px;
height: 208px;
 
  }
  .column {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .cart {
    width: 281px;
height: 50px;
  }
  .cart2 {
    width: 281px;
height: 39px;
  }
  .products {
    font-size: 24px;
  }
  .cutlets {
    padding-top: 8px;
    font-size: 16px;
  }
  .cart {
    font-size: 16px;
  }
  .card {
    margin-bottom: 0px
  }
}